blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, legend, li, ol, p, pre, td, th, ul {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, table, ul {
	margin:15px 0;
}
body {
	background:-moz-linear-gradient(top, rgba(119,239,155,1) 1%, rgba(125,186,231,0) 96%, rgba(125,185,232,0) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(119,239,155,1)), color-stop(96%,rgba(125,186,231,0)), color-stop(97%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(119,239,155,1) 1%,rgba(125,186,231,0) 96%,rgba(125,185,232,0) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(119,239,155,1) 1%,rgba(125,186,231,0) 96%,rgba(125,185,232,0) 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(119,239,155,1) 1%,rgba(125,186,231,0) 96%,rgba(125,185,232,0) 97%); /* IE10+ */
background: linear-gradient(to bottom, rgba(119,239,155,1) 1%,rgba(125,186,231,0) 96%,rgba(125,185,232,0) 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77ef9b', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */


	font:0.8em/1.5 "arial", sans-serif;
}
h1 {
	font-size:200%;
}
h2 {
	font-size:180%;
	font-weight:normal;
}
h3 {
	font-size:150%;
	font-weight:normal;
}
h4, h5, h6 {
	font-size:120%;
	font-weight:normal;
}
form ul {
	list-style:none;
}
form li {
	display:block;
	padding-bottom:7px;
}
form li label {
	display:block;
	padding-bottom:3px;
}
input, select, textarea {
	font-size:100%;
	font-family:"arial", sans-serif;
}
table.table {
	border-collapse:collapse;
	border-spacing:0;
}
table.table th, table.table td {
	padding:7px 10px;
}
table.table th {
	font-weight:bold;
}
ul.ul {
	margin-left:20px;
	list-style:none;
}
ul.ul li {
	padding-left:15px;
	background:url("../design/ul.gif") 0 5px no-repeat;
}
ul.ul ul {
	margin:0 0 0 20px;
	list-style:none;
}
img.f-left {
	margin-right:15px;
}
img.f-right {
	margin-left:15px;
}
.bg {
	min-height:400px;
	background:url("../design/bg-02.png") 50% 0 no-repeat;
}
.main {
	width:960px;
	margin:0 auto;
}
.header {
	position:relative;
	height:130px !important;
}
.header .logo {
	position:absolute;
	top:45px;
	left:20px;
	margin:0;
}
.header .logo img {
	display:block;
}
.header .nav {
	position:absolute;
	top:0;
	right:20px;
	margin:0;
	font-size:120%;
}
.header .nav li {
	display:block;
	float:left;
}
.header .nav li a {
	display:block;
	float:left;
	padding:55px 10px 10px 10px;
	text-decoration:none;
}
.header .nav li.current a {
	background:url("../design/transparent.png");
}
.section {
	padding:0 40px;
	background:url("../design/section.png") 0 0 no-repeat;
}
.section .content {
	float:left;
	width:605px;
	text-align:justify;
}
.section .aside {
	float:right;
	width:250px;
}
.slogan {
	height:120px;
	overflow:hidden;
	text-align:center;
}
.slogan h2 {
	margin:0;
	font-size:305%;
	line-height:1.1;
}
.footer {
	padding:20px 0 50px 0;
}
.footer p {
	margin:0;
}
#hp .content {
	padding:0 20px 40px 20px;
	text-align:justify;
}
.slider {
	position:relative;
	width:920px;
	height:410px;
	padding:0 20px;
	background:url("../design/slider.png") 0 0 no-repeat;
}
.slider-container {
	position:relative;
	width:920px;
	height:390px;
	overflow:hidden;
}
.slider-slides {
	position:absolute;
	top:0;
	left:0;
}
.slider-slides div {
	position:absolute;
	top:0;
	width:920px;
	display:none;
}
.slider-slides div div {
	position:relative;
	display:block;
	height:390px;
	overflow:hidden;
}
.slider-slides div div .desc {
	position:absolute;
	bottom:75px;
	left:40px;
	margin:0;
	font-size:110%;
	line-height:1.4;
	font-weight:bold;
}
.slider-slides div div .desc a {
	font-size:85%;
	font-weight:normal;
}
.slider-slides div div .preview {
	position:absolute;
	top:40px;
	right:40px;
}
.slider-pagination {
	position:absolute;
	bottom:0;
	right:20px;
}
.slider-pagination li {
	display:inline;
}
.slider-pagination li a {
	display:block;
	float:left;
	width:10px;
	height:10px;
	overflow:hidden;
	margin-left:4px;
	background:url("../design/slider-pagination.png") 0 -10px no-repeat;
}
.slider-pagination li.active a {
	background-position:0 0;
}
.slider-pagination li span {
	display:none;
}
.cols3 {
	margin:0;
	list-style:none;
}
.cols3 li {
	display:block;
	float:left;
	width:290px;
	margin-right:25px;
}
.cols3 li.last {
	margin:0;
}
.cols3 li h2 {
	margin:0;
}
.cols3 li .thumb {
	margin:10px 0;
}
.cols3 li .thumb img {
	display:block;
	width:290px;
}
.more {
	text-align:right;
	line-height:34px;
}
.more a {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:7px 12px;
	text-decoration:none;
	font-weight:bold;
}
.main-title {
	margin:0;
	padding:20px 0 25px 0;
}
.gallery li {
	display:block;
	float:left;
	margin-right:10px;
}
.gallery li.last {
	margin:0;
}
.menu {
	list-style:none;
}
.menu li {
	display:inline;
}
.menu li a {
	display:block;
	padding:5px 0;
}
.menu li.current a {
	font-weight:bold;
	text-decoration:none;
}
.sponsors {
	margin:0;
	list-style:none;
	font-size:85%;
}
.sponsors li {
	padding:10px 0;
}
.sponsors li a {
	font-size:115%;
}
.box {
	min-height:1px;
	_height:1%;
}
.box:after {
	display:block;
	visibility:hidden;
	clear:both;
	line-height:0;
	font-size:0;
	content:".";
}
.fix {
	float:none;
	clear:both;
	width:0;
	height:0;
	margin:0;
	padding:0;
	border:0;
	line-height:0;
	font-size:0;
}
.f-left {
	float:left !important;
}
.f-right {
	float:right !important;
}
.t-left {
	text-align:left !important;
}
.t-center {
	text-align:center !important;
}
.t-right {
	text-align:right !important;
}
.t-justify {
	text-align:justify !important;
}
.va-top {
	vertical-align:top !important;
}
.va-middle {
	vertical-align:middle !important;
}
.va-bottom {
	vertical-align:bottom !important;
}
.nom {
	margin:0 !important;
}
.nomt {
	margin-top:0 !important;
}
.nomb {
	margin-bottom:0 !important;
}
.hidden {
	position:absolute;
	left:-1000em;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.noscreen {
	display:none;
}
.smaller {
	font-size:85%;
}
.input-text {
	padding:5px;
}
.input-submit {
	padding:3px;
}

/*------------------------------------center content--------------------*/
.center_content{
width:960px;
padding:0px 0 0 0;
background: #cac2cc;
}
.left_content{
width:660px;
float:left;
padding:10px 0 10px 10px;
}
.right_content{
width:250px;
float:left;
padding:10px 0 10px 10px;
}
.title{
color:#a81f22;
padding:0px;
float:left;
font-size:19px;
margin:10px 0 10px 0;
}
span.title_icon{
float:left;
text-align: left;
padding:0 5px 0 0;
}
.prod_title{
color:#a81f22;
padding:5px 0 0 15px;
font-size:13px;
}
a.more{
font-style:italic;
color:#a81f22;
float:right;
text-decoration:none;
font-size:11px;
padding:0px 10px 0 0 ;
}
.about{
width:250px;
clear:both;
background:url(images/border.gif) no-repeat bottom center;
padding:0 0 10px 0;
}
img.right{
float:right;
padding:0 0 0 10px;
}
.right_box{
width:170px;
float:left;
padding:10px 0 0 0;
}
/*--------feat_prod_box-----------*/
.feat_prod_box{
padding:10px 0 10px 0;
margin:0 10px 10px 0;
border-bottom:1px #b2b2b2 dashed;
clear:both;
}
.feat_prod_box_details{
	width: 300px;
padding:10px 0 10px 0;
margin:0 10px 10px 0;
clear:both;
}
.prod_img{
float:left;
padding:0 5px 0 0;
text-align:center;
}
.prod_det_box{
width:250px;
float:left;
padding:0 0 0 15px;
position:relative;
}
.box_top{
width:250px;
height:9px;
background:url(images/box_top.gif) no-repeat center bottom;
}
.box_center{
width:250px;
height:auto;
background:url(images/box_center.gif) repeat-y center;
}
.box_bottom{
width:250px;
height:9px;
background:url(images/box_bottom.gif) no-repeat center top;
}

.new_prod_box{
float:left;
text-align:center;
padding:10px;
}
.new_prod_box a{
padding:5px 0 5px 0;
color:#b5b5b6;
text-decoration:none;
display:block;
}
.new_prod_bg{
width:132px;
height:119px;
text-align:center;
background:url(images/new_prod_box.gif) no-repeat center;
position:relative;
}
.new_icon{
position:absolute;
top:0px;
right:0px;
z-index:200;
}
.special_icon{
position:absolute;
top:0px;
_top:6px;
right:2px;
z-index:250;
}
img.thumb{
padding:10px 0 0 0;
}
.new_products{
clear:both;
padding:0px;
}

ul.list{
clear:both;
padding:10px 0 0 20px;
margin:0px;
}
ul.list li{
list-style:none;
padding:2px 0 2px 0;
}
ul.list li a{
list-style:none;
text-decoration:none;
color:#000000;
background:url(images/left_menu_bullet.gif) no-repeat left;
padding:0 0 0 17px;
}
ul.list li a:hover{
text-decoration:underline;
}

/*------------------------cart---------------------*/
.cart{
width:250px;
float:left;
height:40px;
margin:10px 0 10px 0;
background:url(images/border.gif) no-repeat bottom center;
padding:0 0 20px 0;
}
.home_cart_content{
float:left;
padding:3px;
border:1px #eeedee solid;
margin:10px 0 0 15px;
}
a.view_cart{
display:block;
float:left;
margin:12px 0 0 10px;
color:#990000;
}